.text-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
}
.text-subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-small;
  text-align: center;
}
.text-date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-small;
  text-align: left;
  margin-top: 16px;
}
.text-id {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-small;
  text-align: left;
  margin-top: 8px;
}

hr.dashed {
  border-top: 3px dashed #000;
}

.text-item-head-left {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-small;
  text-align: left;
  display: grid;
}

.text-item-head-right {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-small;
  text-align: right;
  display: grid;
}

.text-item-left {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: left;
  display: flex;
}

.text-item-right {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-small;
  text-align: right;
  display: grid;
}

.text-total {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-small;
  text-align: right;
  margin-top: 8px;
}

.barcode-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  /* gap: 2rem; */
  padding: 1rem;
}

.barcode-items {
  display: flex;
  flex-direction: column;
  align-items: center; /* center horizontally */
  justify-content: center; /* center vertically */
  text-align: center;
  padding: 2rem;
  outline: solid 1px black; /* outline for each item */
  
  /* Prevent breaking across pages */
  break-inside: avoid;
  page-break-inside: avoid;
}
